h6 {
  color: #434857;
  text-transform: uppercase;
}

th, td {
  vertical-align: middle;
}

.btn-link {
  color: #bbbbbb;
}

.btn-stock-mgt {
  width: 80px;
}

.margin-right-5 {
  margin-right: 5px;
}

.alert-success {
  z-index: 100;
}
